<?xml version="1.0" encoding="UTF-8"?>
<!-- This file can be an empty text file (0 bytes) -->
<!-- We're declaring the schema to save you time if you do have to configure 
	this in the future -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jee="http://www.springframework.org/schema/jee" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                           http://www.springframework.org/schema/jee
                           http://www.springframework.org/schema/jee/spring-jee-3.2.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
	<jee:local-slsb id="authenticationService"
		jndi-name="java:app/econtactEjb/AuthenticationServiceImpl!com.econtact.dataModel.data.service.AuthenticationService" 
		business-interface="com.econtact.dataModel.data.service.AuthenticationService"/>
	<jee:local-slsb id="univerDictService" 
		jndi-name="java:app/econtactEjb/UniverDictServiceImpl!com.econtact.dataModel.data.service.UniverDictService"
		business-interface="com.econtact.dataModel.data.service.UniverDictService"/>		
	<jee:local-slsb id="genericService" 
		jndi-name="java:app/econtactEjb/GenericServiceImpl!com.econtact.dataModel.data.service.GenericService"
		business-interface="com.econtact.dataModel.data.service.GenericService"/>
		
</beans>
